*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1;
}

html,
body,
#root,
#__next,
#__next > div,
.theme-0 {
  height: 100%;
}

#__next {
  position: relative;
  z-index: 0;
}

svg {
  display: block;
  vertical-align: middle;
}

img {
  vertical-align: middle;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
